/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #b55206;
}

.wrapper {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.upload-box {
    height: 250px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #eee;
    padding: 20px;
}

.upload-box p {
    font-size: 1.2rem;
    color: #777;
    margin-top: 10px;
}

.upload-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.content {
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.column label {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.sizes .column input {
    width: 100%;
    height: 40px;
    outline: none;
    padding: 0 15px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.sizes .column input:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgba(46, 46, 46, 0.3);
}

.checkboxes {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkboxes label {
    margin-left: 10px;
}

.image-previews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.preview-container {
    position: relative;
}

.image-previews img {
    max-width: 80px;
    max-height: 80px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: transform 0.2s ease;
}

.image-previews img:hover {
    transform: scale(1.1);
}

.file-size {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 5px;
    font-size: 0.8em;
}

.buttons {
    display: flex;
    gap: 10px;
}

.download-btn,
.reset-btn {
    width: 100%;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    padding: 12px 0;
    background: #676767;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.download-btn:hover,
.reset-btn:hover {
    background: #282828;
}

.highlight {
    border: 3px dashed #059900;
}